.rootfilter {
    color: #000;
font-size: 12px;
font-weight: 300;
    .items {
        
    }
    .exported {
        text-decoration:  underline;
        cursor: pointer;
        margin-left: 3rem;
    }
}