.conformation {
    p {
      text-align: center;
      color: #595959;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
    }
    .contop {
      margin-top: 3rem;
    }
    .didreceive {
      color: #0047ff;
      font-family: "Montserrat";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      cursor: pointer;
      text-align:  center;
      display: block;
    }
  }