.updatedscreen {
  .lockimage {
    margin: 2rem 0;
  }
  .successfully {
    margin: 0 0 2rem 0;
    p {
      color: #646464;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      text-align: center;
    }
  }
}
