.rootprofile {
    .user {
        padding-bottom: 2rem;
    }
    .username{
        font-size : 16px;
        color : #000;
        font-weight : 400;
        margin : 0rem
    }
    .role {
        margin : 0rem;
        font-size :10px
    }
}