.rootgrid {
  min-height: 100vh;
  .imageItem {
    margin-bottom: 3rem;
  }
  .rooterror {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .helpertextemailpassword {
      text-align: center;
      color: #f00;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      align-self: center;
      margin-right: 0.5rem;
    }
    .questionmark {
      align-self: end;
      margin-right: 0.5rem;
    }
  }
  .forgotpassword {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: end;
    margin-right: 1.5rem;
    color: #0075ff;
  }
  .loginbutton {
    display: flex;
    justify-content: center;
  }
}
