.passwordforgot {
  .textforgot {
    color: #646464;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin: 2rem 0;
  }
  .textplease {
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0 0 2rem 0;
    font-family:  'Montserrat', sans-serif;
  }
}

.conformation {
  p {
    text-align: center;
    color: #595959;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
  .contop {
    margin-top: 3rem;
  }
  .didreceive {
    color: #0047ff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
