.passwordforgot {
    margin-bottom:  2rem;
    .textforgot {
        color: #646464;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }
    .textplease{
        color: #A1A1A1;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}