
.closeImage {
    display:  flex;
    justify-content:  end;
    cursor: pointer;
}

.contactImage {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    .invite {
        color: #535353;
        font-size: 24px;
        font-weight: 500;
    }
    .mbzero {
        margin-bottom:  0;
    }
    .mtone {
        margin-top:  1rem;
    }

    .closewindow {
        color: #535353;
        font-size: 13px;
        font-weight: 500;
    }

}

.rootform{
    .userbutton {
        display: flex;
        justify-content: center;
    }
    .helpertext {
        color:  red;
    }
}